<div class="card" style="min-width: 25%; padding: 10px;">
    <img class="card-img-top" src="{{platoAux.urlImagenPath}}" alt="Card image cap" style="height: 200px; max-width: max-content;">
    <div class="card-body">
    <h5 class="card-title">{{platoAux.nombre}}</h5>
    <p class="card-text">$ {{platoAux.precio}}</p>
    </div>
    <div class="card-footer" style="text-align: center;">
    <button (click)="verPlato()" class="btn btn-primary" style="width: 90%;">Detalle</button>
    </div>
</div>
